$mont-font: 'Montserrat', sans-serif;

$drk_cyan_color: #023E52;
$mid_cyan_color: #3788A3;
$lit_cyan_color: #7ACEEB;

$color1: rgba(236, 164, 0, 1);
$color2: rgba(234, 248, 191, 1);
$color3: rgba(0, 105, 146, 1);
$color4: rgba(39, 71, 110, 1);
$color5: rgba(0, 29, 74, 1);



$color-primary-0: #2A4E6E;  // Main Primary color */
$color-primary-1: #C8C8C8;
$color-primary-2: #667E94;
$color-primary-3: #052848;
$color-primary-4: #001222;

$color-secondary-1-0: #AA9039;  // Main Secondary color (1) */
$color-secondary-1-1: #FFFFFF;
$color-secondary-1-2: #E5D399;
$color-secondary-1-3: #6F5600;
$color-secondary-1-4: #342800;

$color-secondary-2-0: #AA5939;  // Main Secondary color (2) */
$color-secondary-2-1: #FFFFFF;
$color-secondary-2-2: #E5AE99;
$color-secondary-2-3: #6F2000;
$color-secondary-2-4: #340F00;


